
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
p{
  vertical-align:top;
}

.section {
  float: left;
  width: 25%;
  padding: 1em;
  background-color: red;
  border: 2px solid black;
  position: relative;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.section-title,.section-title1,.section-title2 {
  position: relative;
  top: -36px;
  left: 150px;
  background-color: yellowgreen;
  padding: 0.5em;
  padding-right: 0px;
  border: 1px solid black;
  margin-left: 2px;
  border: 4px solid black;
  width: 150px;

}
.section-title1 {
  background-color: bisque;
 

}
.section-title2 {
  background-color: rgb(208, 202, 13);

}

.hello{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 991px) {
  .section {
      width: 50%;
  }
}

@media (max-width: 767px) {
  .section {
      width: 100%;
  }
}
